<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AUS DDR Events</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/full-width-pics.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">AUS DDR Events</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/ora20">
                            ORA20
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>    

    <header class="py-5 bg-image-full" style="background-image: url('/images/forestblurnopeople.png');">
        <img class="img-fluid d-block mx-auto" src="/images/badge2light.png" alt="" style="height:300px">
    </header>
    
    <section class="py-5">
        <div class="container">
            <h1>Introduction/main concept of Outback Road:</h1>
            <p class="lead">“Outback Road to A20” is the first of many seasonal tournaments offered to all DDR players Australia wide. ORA20 takes you on a journey to explore new unfamiliar but exciting areas of DDR to both challenge your skills and continue developing you as a player. The paths that have been set are sure to expose you to new charts or patterns, or skill sets that you may have been afraid to venture into in your normal sessions. However, when you look back at the journey you have taken, there’s a guarantee that you will feel a sense of pride and accomplishment.</p>
        </div>
    </section>
    
    <section class="py-5 bg-image-full" style="background-image: url('images/outbackroadsmallblur.png');">
        <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    
        <div style="height: 85px;"></div>
    
        <div class="container">
    
            <h1 id="white-text">Coming June 2019</h1>
    
        </div>
    
        <div style="height: 115px;"></div>
    </section>
    
    <section class="py-5">
        <div class="container">
            <h1></h1>
            <p class="lead">Taking inspirations from “LIFE4” and Valkyrie dimension, Outback Road to A20 aims to offer players a unique, engaging and competitive experience that fosters participation and community interaction. This seasonal event also aims to further interconnect the Australian DDR scenes and unite the broader DDR community within Australia.</p>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Aus DDR Events, 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>